/* 
.
.
.
.
generel */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-bottom: 400px;
  background-color: #dcdcdc;
}

main {
  background-color: #83a0a7;
  box-shadow: rgb(0, 0, 0) 0px 0px 7px;
  padding-bottom: 200px;
  overflow: hidden;
}

@font-face {
  font-family: lemonMilk;
  src: url(fonts/LemonMilk.otf);
}

h2 {
  padding-left: 10vw;
  text-align: left;
  font-size: 4em;
  font-family: lemonMilk;
  color: aliceblue;
}

h3 {
  text-align: left;
  font-family: lemonMilk;
  color: aliceblue;
}

h4 {
  font-family: "Jost";
  text-align: center;
  color: white;
  font-weight: 900;
  padding: 5px;
  margin: 0;
}

p {
  font-family: "Jost", sans-serif;
  font-size: 18px;
}

/* 
.
.
.
.
top section */
#topsection {
  padding-bottom: 20vh;
}

#topimg {
  width: 100%;
  height: 70vh;
  top: 75px;
  position: relative;
  background-image: url(images/mountain-4021090_1920.jpg);
  background-size: contain;
  filter: invert(1) saturate(0.5);
  background-position: 50%;
}

.titlewrap {
  position: absolute;
  top: 55%;
  opacity: 75%;
  backdrop-filter: invert(1);
}

#title {
  margin: 20px;
  font-family: lemonMilk;
  font-size: 3rem;
  color: #484848;
  background-size: cover;
  padding-left: 5vw;
}

/* 
.
.
.
.
about me section */
#aboutme {
  border-top: 20px solid #83a0a7;
}

#about_top {
  position: relative;
  background-image: linear-gradient(0deg, #759096, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#aboutme_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 5em;
  padding-left: 10vw;
  padding-right: 10vw;
}

#aboutme_title {
  padding-left: 0;
  text-align: center;
  align-items: center;
}

#portrait {
  background-image: url(images/portrait.png);
  width: 250px;
  height: 250px;
  background-size: cover;
}

.interests p,
.home p {
  border-left: 10px solid aliceblue;
  padding-left: 10px;
  color: white;
}

.wave {
  position: relative;
  background-color: #83a0a7;
  width: auto;
  height: 14vw;
  top: -1px;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 65%,
    1% 64.95%,
    2% 64.8%,
    3% 64.6%,
    4% 64.3%,
    5% 63.9%,
    6% 63.45%,
    7% 62.9%,
    8% 62.25%,
    9% 61.55%,
    10% 60.8%,
    11% 59.95%,
    12% 59.05%,
    13% 58.1%,
    14% 57.1%,
    15% 56.05%,
    16% 55%,
    17% 53.9%,
    18% 52.8%,
    19% 51.65%,
    20% 50.5%,
    21% 49.35%,
    22% 48.2%,
    23% 47.05%,
    24% 45.9%,
    25% 44.8%,
    26% 43.75%,
    27% 42.75%,
    28% 41.75%,
    29% 40.8%,
    30% 39.9%,
    31% 39.1%,
    32% 38.35%,
    33% 37.65%,
    34% 37.05%,
    35% 36.5%,
    36% 36.05%,
    37% 35.65%,
    38% 35.35%,
    39% 35.15%,
    40% 35.05%,
    41% 35%,
    42% 35.05%,
    43% 35.2%,
    44% 35.45%,
    45% 35.75%,
    46% 36.15%,
    47% 36.65%,
    48% 37.2%,
    49% 37.85%,
    50% 38.55%,
    51% 39.35%,
    52% 40.2%,
    53% 41.1%,
    54% 42.05%,
    55% 43.05%,
    56% 44.1%,
    57% 45.15%,
    58% 46.3%,
    59% 47.4%,
    60% 48.55%,
    61% 49.7%,
    62% 50.85%,
    63% 52%,
    64% 53.15%,
    65% 54.25%,
    66% 55.35%,
    67% 56.4%,
    68% 57.45%,
    69% 58.4%,
    70% 59.35%,
    71% 60.2%,
    72% 61.05%,
    73% 61.8%,
    74% 62.45%,
    75% 63.05%,
    76% 63.6%,
    77% 64.05%,
    78% 64.4%,
    79% 64.7%,
    80% 64.85%,
    81% 65%,
    82% 65%,
    83% 64.9%,
    84% 64.75%,
    85% 64.5%,
    86% 64.2%,
    87% 63.75%,
    88% 63.25%,
    89% 62.7%,
    90% 62.05%,
    91% 61.3%,
    92% 60.5%,
    93% 59.65%,
    94% 58.75%,
    95% 57.8%,
    96% 56.8%,
    97% 55.75%,
    98% 54.65%,
    99% 53.55%,
    100% 52.4%
  );
}

/* 
.
.
.
.
capabilities section */
#capabilities {
  background-color: #b4cade;
}

.capabilities_wrapper {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 5em;
  color: black;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* 
.
.
.
.
my work section */
#mywork .wave {
  background-color: #b4cade;
}
.mywork_txtwrap p {
  color: white;
  padding-left: 10vw;
  width: 30vw;
}

#projects {
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;
}

#projects_wrapper {
  width: 100%;
  display: flex;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25%;
  transition: 0.6s;
  overflow: hidden;
}
#project_1:hover #pic1,
#project_2:hover #pic2,
#project_3:hover #pic3,
#project_4:hover #pic4 {
  transform: scale(1.05);
}

#project_1:hover {
  background-color: #ff4141;
}

#project_2:hover #pic2 {
  filter: grayscale(0);
}

#project_3:hover {
  background-color: #ffc341;
}

#project_4:hover #pic4 {
  filter: grayscale(0);
}

#pic1,
#pic2,
#pic3,
#pic4 {
  width: 25vw;
  height: 30vw;
  opacity: 70%;
  background-size: cover;
  filter: grayscale(1);
  transition: 0.6s;
}

#pic1 {
  background-image: url(images/mono.jpg);
  background-position: 50%;
}

#pic2 {
  background-image: url(images/morrow.jpg);
  background-position: 50%;
}

#pic3 {
  background-image: url(images/loud.jpg);
  background-position: 50%;
}

#pic4 {
  background-image: url(images/vores_kaffebar.jpg);
  background-position: 50%;
}

.txt,
.read {
  background-color: black;
  position: absolute;
  width: auto;
  height: auto;
  opacity: 80%;
}

.project_info {
  display: grid;
  align-items: center;
  background-color: black;
  opacity: 90%;
  position: absolute;
  width: 25%;
  height: 100%;
  color: white;
  overflow: scroll;
}

.project_info_txt {
  padding-left: 10px;
  padding-right: 10px;
}

.project_info a {
  color: white;
  text-decoration: none;
}

.project_info .x {
  display: block;
  position: relative;
  left: 50%;
  width: 0;
  transition: 0.3s;
}
.project_info .x:hover {
  transition: 0.6s;
  transform: scale(1.5);
}

/* 
.
.
.
.
header */
header {
  position: fixed;
  top: 0;
  width: 76vw;
  z-index: 1000;
  backdrop-filter: blur(8px);
  mix-blend-mode: difference;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 19%);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

nav a {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-decoration: none;
  color: #bbbbbb;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  transition: 0.3s;
}

nav a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #bbbbbb;
  height: 1px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
nav a:hover:before {
  right: 0;
}

nav a:visited {
  text-decoration: none;
}

/* 
.
.
.
.
footer */
footer {
  position: fixed;
  z-index: -100;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.footer_text {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  padding-left: 12vw;
  padding-right: 12vw;
}
footer h2 {
  text-align: center;
  padding-left: 0;
}

ul {
  font-family: "Jost", sans-serif;
}

/* 
.
.
.
.
classes */
.hide {
  display: none;
}

.show {
  display: inline;
}
